<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="padding: 50px; text-align: -webkit-center">
    {{{body}}}
</body>

</html>
